* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
	justify-content: center;
	text-align: center;
	background-color: #696969;
}

.body {
	display: flex;
	flex-direction: row;
}

label {
	font-weight: bold;
	text-align: left;
}

input {
	height: 30px;
	border-radius: 5%;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px;
}

input {
	padding-left: 2px;
}

#educationForm,
#personalInfoForm,
#workExperienceForm {
	margin: 20px;
	padding: 20px;
	border-radius: 25px;
	background-color: #b9bcc2;
}

.resume {
	background-color: white;
	padding: 50px;
	margin: 20px 40px;
	width: 715px;
	height: 950px;
	text-align: left;
}

.sectionHeader {
	display: flex;
	width: 300px;
	margin: 10px;
	justify-content: space-between;
	flex-direction: row;
}

.arrow-down {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.arrow-up {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-135deg);
}

.dropdown-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.educationHeader,
.workExperienceHeader {
	display: flex;
	justify-content: space-between;
}

.personalInfoCV,
.educationInfoCV {
	margin-bottom: 20px;
}

.educationTime,
.workExperienceTime {
	justify-content: right;
}

h3 {
	text-align: left;
}

.subHeading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.educationContainer,
.workContainer {
	margin-bottom: 20px;
}

.subHeadingIcons {
	display: flex;
	flex-direction: row;
	align-items: center;
	scale: 1.25;
	gap: 10px;
}

.align-left {
	text-align: left;
}

.download-cv {
	margin: 20px;
}
